/* selector {declaracion; propiedades:valor;} */

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

/*
  img.alineadoTextoImagenArriba{
    vertical-align: middle;  
  }
*/

.imagen{
    text-align: start;
}

.Encabezado {
    background-color: greenyellow;
    border-radius: 15px 10px 15px 10px;

    padding: 5px 5px 5px 15px; /* top right bottom left; (moving clockwise) */
    grid-column: 1 / 6;
    grid-row: 1;

    /*text-align: center;*/
  }

.Cientificos {
    border-radius: 15px 10px 15px 10px;

    border-color: green;
    border-style: solid;

    padding: 5px 5px 5px 15px; /* top right bottom left; (moving clockwise) */
    grid-column: 1 / 5;
    grid-row: 2 / 5;
  }

.Auxiliar {
    background-color: greenyellow;
    border-radius: 15px 10px 15px 10px;

    padding: 5px 5px 5px 15px; /* top right bottom left; (moving clockwise) */
    grid-column: 5;
    grid-row: 2 / 5;
  }

.Pie {
    background-color: greenyellow;
    border-radius: 15px 10px 15px 10px;

    padding: 35px 5px 5px 15px; /* top right bottom left; (moving clockwise) */
    grid-column: 1 / 6;
    grid-row: 5;

    text-align: center;
  }